<ul class="nav-list" ...attributes>
  {{#each @tocs as |toc|}}
    {{#if toc.pages}}
      <DocsViewer::XSection @label={{toc.title}} />
      <DocsViewer::XNavList @tocs={{toc.pages}} />
    {{else}}
      <li class="docs-mt-2 docs-ml-4 docs-mb-1 docs-flex docs-items-center docs-text-sm">
        <LinkTo @route="show" @model={{toc.id}} class="docs-text-grey-darker docs-no-underline hover:docs-underline" @activeClass="docs-text-brand docs-font-medium" data-test-id="nav-item">
          {{toc.title}}
        </LinkTo>
      </li>
    {{/if}}
  {{/each}}
</ul>