<header class="docs-shadow docs-relative docs-z-40 docs-bg-white">
  <div class="docs-flex docs-items-center docs-max-w-site-container docs-mx-auto md:docs-px-2">
    {{#link-to "index"
      class="docs-px-4 docs-py-5 docs-transition docs-uppercase docs-text-xxs docs-font-bold docs-no-underline"
    }}
      <span class="docs-leading-none docs-font-title docs-text-large-2 docs-font-normal docs-normal-case docs-block docs-mr-6">
        {{#if prefix}}
          <div class="docs-text-xxs">
            {{prefix}}
          </div>
        {{/if}}
        {{@fieldGuideConfig.name}}
      </span>
    {{/link-to}}

    <div class="docs-flex-1 docs-flex docs-items-center docs-overflow-auto docs-scrolling-touch docs-mask-image md:docs-no-mask-image">


      <div class="docs-ml-auto">
      </div>

      {{#each @fieldGuideConfig.social as |social|}}
        <a href={{social.link}} title={{social.title}} target="_blank" rel="noopener">
          <img src="/icons/social/{{social.name}}.svg" alt="" role="presentation" width="24" height="24">
        </a>
      {{/each}}

      {{!-- Something to take up space on mobile, so the scrolling nav isn't hugging the edge --}}
      <div class="docs-h-px docs-px-3 sm:docs-hidden"></div>
    </div>
  </div>
</header>

{{#if query}}
  {{docs-header/search-results query=query on-visit=(action "didVisitPage")}}
{{/if}}

{{#if isShowingVersionSelector}}
  {{docs-header/version-selector on-close=(action (mut isShowingVersionSelector false))}}
{{/if}}